@model IEnumerable<GlobantTraining.Models.Dtos.ConsumableDto>


@{
    ViewData["Title"] = "Insumos";
}

<h1>@ViewBag.Titulo</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var consumable in Model) {
        <tr>
            <td>
                @consumable.Title
            </td>
            <td>
                @consumable.Color
            </td>
            <td>
                @consumable.Description
            </td>
            <td>
                @consumable.ShowStatus
                    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@consumable.ConsumableId">Editar</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
