@model GlobantTraining.DAL.Entities.PurchaseDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purchase.PurchaseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumable.ConsumableId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityConsumable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityConsumable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceUnit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
