@model IEnumerable<GlobantTraining.Models.Dtos.TypeProductDto>

@{
    ViewData["Title"] = "Tipo Producto";
}

<h1>@ViewBag.Titulo</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var typeProduct in Model) {
        <tr>
            <td>
                    @typeProduct.Title
            </td>
                <td>
                    @if (typeProduct.Status)
                    {
                        <p>Activo</p>
                        
                    }
                    else
                    {
                        <p>Inactivo</p>
                    }

                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@typeProduct.TypeProductId">Editar</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
