@model IEnumerable<GlobantTraining.Models.Dtos.ProductDto>


@{
    ViewData["Title"] = "Producto";
}

<h1>@ViewBag.Titulo</h1>

<p>
    <a asp-action="Create" >Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeProductId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Characteristic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th>
                Opciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                    @product.TypeProductId
            </td>
            
            <td>
                    @product.Title
            </td>
            
            <td class="characteristic-cell" title="@product.Characteristic">
                    @product.Characteristic
            </td>
            <td>
                    @product.Price
            </td>
            <td>
                    @if (product.Status)
                    {
                        <p>Activo</p>

                    }
                    else
                    {
                        <p>Inactivo</p>
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@product.ProductId">Detalles</a>
                @*<a asp-action="Delete" asp-route-id="@item.ProductId">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
