@model IEnumerable<GlobantTraining.DAL.Entities.Product>

@{
    ViewData["Title"] = "Producto";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characteristic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeProduct.TypeProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumable.ConsumableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characteristic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
